a {
  color: black;
  text-decoration: none;
}

a.glyphicon-gift,
a.glyphicon-pencil
{
  cursor: pointer;
}

a.selection {
  font-weight: bold;
}

a.edit {
  color: grey;
  font-weight: bold;
}

div.personneline {
  padding-top: 5px;
  padding-bottom: 5px;
}
