<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="toggleNavbar()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">eGiftIII</a>
    </div>
    <div id="navbar" [ngClass]="{collapse: navbarCollapsed}" class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li *ngIf="userId">
          <a [routerLink]="['/users', userId ]">Evènements</a>
        </li>
        <li *ngIf="eventId && userId">
          <a [routerLink]="['/users', userId ,'events', eventId]">Ma liste</a>
        </li>
        <li *ngIf="eventId && userId">
          <a [routerLink]="['/users', userId ,'gifts', eventId]">Mes achats</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="eventId && userId"><a>{{userName}}, Evènement :: {{eventName}}</a></li>
      </ul>
    </div>
  </div>
</nav>
