<div class="text-center home" >
  <h1>eGift III <small>- Gestion de liste de cadeaux -</small></h1>
</div>


<div class="text-center" *ngIf="!isBeta()">
  <a class="btn btn-primary" routerLink="register">Register</a> || <a class="btn btn-primary" routerLink="login">Login</a>
</div>

<div class="text-center" *ngIf="isBeta() && !displayLogin">
  <a class="btn btn-primary" (click)="showLogin()">Se connecter</a>
</div>

<div class="text-center" *ngIf="isBeta() && displayLogin">
  <ec-login *ngIf="!isBeta()"></ec-login>
  <div>Qui est tu ?</div>
  <div class="home-liste" *ngFor="let user of users"><a href="" [routerLink]="['/users', user.uid]" >{{user.lastName}}</a></div>
</div>





